.banner-ecommerce {
    height: 50vh;
}

.banner-ecommerce h1 {
    font-size: 40px;
    background: -webkit-linear-gradient(#dfdfdf, #e03434);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 479px) {
    .banner-ecommerce {
        height: 25vh;
    }

    .banner-ecommerce h1 {
        font-size: 15px;
        background: -webkit-linear-gradient(#dfdfdf, #e03434);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
