.product-imagen {
    height: 410px;
    width: 95%;
}

@media screen and (max-width: 479px) {
    .product-imagen {
        width: 100%;
        height: 18rem;
    }
}

@media screen and (max-width: 768px) {
    .product-imagen {
        width: 100%;
        height: 18rem;
    }
}
